 *, *::before, *::after{
    box-sizing: border-box;
    font-family: round,sans-serif;
    font-weight: normal;
  }
  body{
      padding: 0;
      margin: 0;
      background: linear-gradient(to right, #FF69B4, #8A2BE2);

  }
  .calculator-grid{
      display: grid;
      justify-content: center;
      align-content: center;
      min-height: 100vh;
      grid-template-columns: repeat(4,100px);
      grid-template-rows:  repeat(5,100px);
  }
  .calculator-grid > button{
      cursor: pointer;
      font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    align-content: center;
  }
  .calculator-grid > button:hover{
    background-color: rgba(255,255,255, .90);
  }
  .span-two{
      grid-column: span 2;
  }
  .span-two-right{
      grid-column: span 2;
      border-radius: 0px 0px 16px 0px;
  }
  .span-two-left{
    border-radius: 0px 0px 0px 16px; 
  }
  .output{
    grid-column: 1/ -1;
    background-color: rgba(0,0,0, .75);
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 16px 16px 0px 0px;
  }
  #result{
    color: white;
    font-size: 2rem;
  }